body{
    padding: 0;
    margin: 0;
}
.header{
    width:100vw;
    height: 60px;
    background-color: rgb(255, 47, 47);
    margin:0;
    padding: 0;
}

.footer{
    width:100vw;
    height: 40px;
    background-color: rgb(228, 228, 228);
    margin:0;
    padding: 0;
}
.content{
    display: inline-block;
    width:100vw;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
    font-size: 0;
}
.center{
    display: inline-block;
    width:33.33%;
    height: 100%;
    background-color: blanchedalmond;
    margin:0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}
.sidebar{
    display: inline-block;
    width:33.33%;
    height: 100%;
    background-color: rgb(130, 254, 6);
    margin:0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}
.leftbar{
    display: inline-block;
    width:33.33%;
    height: 100%;
    background-color: rgb(225, 0, 255);
    margin:0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}
.letter{
    margin-top: 50%;
}

